/* Default styles for small screens and anything not caught by media */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap'); 

body {
    background-color: rgba(255, 0, 191, 0.555);
    font-family: Arial, helvetica, sans-serif ;
    font-family: "Mukta", sans-serif;
}
.column {
  width: 100%;
}
/* Styled for screens 600px and wider */
@media screen and (min-width: 600px) {
body {
    background-color: palegoldenrod
    } 
.column {
      float: left;
      width: 33.33%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
}


